<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="with= device-with, initial-scale =1.0" />
    <link rel=" stylesheet" href="../css/estilo.css" />
    <link rel="shortcut icon" href="../img/imagen5.png" type="image/x-icon" />
    <title>Consejos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio </a></li>
                <li><a href="../views/tematica.html">Tematica</a></li>
                <li><a href="../views/consejos.html">Consejos </a></li>
                <li><a href="../views/contacto.html">Contacto </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contenedor consejos">
            <h1 class="titulo">Consejos para que tengas una nutrición saludable</h1>
            <div class="contenedor-consejos">
                <img src="../img/imagen7.jpg" alt=""  height="400" width="500" class="imagen-about-us" />
                <div class="contenido-textos">
                    <h4><span>1</span>Incluye un alimento de cada grupo </h4>
                    <p> Una de las reglas de oro para adoptar una buena alimentación es ingerir nutrientes de acuerdo a tus necesidades y condiciones. Procura consumir tres alimentos principales al día y considerar dos colaciones. No olvides incluir frutas, verduras, cereales y tubérculos.</p>
                    <h4><span>2</span>Bebe suficiente agua </h4>
                    <p>Del 50% al 70% del peso corporal es agua, por lo que es sumamente importante consumirla en las cantidades necesarias. Te recomendamos consumir de 2 a 3 litros de agua diariamente, teniendo en cuenta las variaciones y las necesidades de tu cuerpo.</p>
                    <h4><span>3</span>No abuses de las grasas animales </h4>
                    <p>Las grasas animales, a excepción del pescado, aumentan el riesgo de padecer enfermedades del corazón y obesidad, por esto es recomendable disminuir la ingesta de estas y optar por grasas de origen vegetal como el girasol, la oliva, la soya o el maíz. </p>
                    <h4><span>4</span>Establecer tus horarios de comida </h4>
                    <p>Iniciar una dieta balanceada implica responsabilidad y compromiso con tu alimentación. Esto significa que tendrás que establecer horarios específicos para comer y no saltarlos por ninguna razón. Nuestra recomendación es que planees un menú semanal. </p>
                    <h4><span>5</span>Reduce el consumo de azúcares y sales  </h4>
                    <p>La reducción de la sal y el azúcar el productos ultraprocesados no solo te ayudará a controlar tu presión arterial y evitar otras enfermedades afines, sino que también te impulsará a probar nuevos alimentos y a salir de tu rutina alimenticia.</p>
                </div>
            </div>
        </section>

                <div id="main-container">
                <table>
                    <thead>
                        <tr class="table-title">
                            <th colspan="4">Menú para una nutrición saludable</th>
                        </tr>
                        <tr>
                            <th>Desayuno</th>
                            <th>Media Mañana</th>
                            <th>Comida</th>
                            <th>Cena</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Un vaso de leche con dos cucharadas de cacao en polvo.</td>
                        <td>2 magdalenas y un quesito.</td>
                        <td>Canelones de calacín con bechamel</td>
                        <td>Ensaladilla rusa con mayonesa.</td>
                    </tr>
                    <tr>
                        <td>Tostada de pan con mantequilla y mermelada.</td>
                        <td>Yogur mezclado con cereales y frutas.</td>
                        <td>Pan con melocoton en almibar</td>
                        <td>Salmon al horno.</td>
                    </tr>
                    <tr>
                        <td>Café con leche + un bizcocho casero con frutos frescos.</td>
                        <td>Bocadillos de jamón serrano con aceite.</td>
                        <td>Lentejas estofas con arroz,chorrizo, aceite de oliva y salsa de tomate. </td>
                        <td>Pure de verduras con pesacdilla al horno, pan.</td>
                    </tr>
                </table>
                </div>

                <div id="main-container">
                    <table>
                        <thead>
                            <tr class="table-title">
                                <th colspan="4">Frecuencia recomendada para cada grupo de alimentos</th>
                            </tr>

                            <tr>
                                <th>Grupos de Alimentos</th>
                                <th>Diaria (raciones al día)</th>
                                <th>Peso de cada radiacion</th>
                                <th>1 Plato normal</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Frutas</td>
                            <td> 3</td>
                            <td>120-200g</td>
                            <td>1 Pieza mediana.1taza de cerezas,fresa. 2 rodajas de melón. </td>
                        </tr>
                        <tr>
                            <td>Verduras</td>
                            <td>2</td>
                            <td>150-200g</td>
                            <td>1 plato de ensalada variada.1 plato de verdura cocida. 1 tomate grande. 2 zanahorias.</td>
                        </tr>
                        <tr>
                            <td>Agua (y liquidos de bedida)</td>
                            <td>8-12</td>
                            <td>200-250 ml</td>
                            <td>1 vaso.Prefelimente agua, tambien infusiones, caldos desgrasados, refrescos sin azucar.</td>
                        </tr>
                    </table>
                    </div>
</main>
</body>
</html>