<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="with= device-with, initial-scale =1.0" />
    <link rel=" stylesheet" href="../css/estilo.css" />
    <link rel="shortcut icon" href="../img/imagen4.png" type="image/x-icon" />
    <title>Temática</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio </a></li>
                <li><a href="../views/tematica.html">Tematica</a></li>
                <li><a href="../views/consejos.html">Consejos </a></li>
                <li><a href="../views/contacto.html">Contacto </a></li>
            </ul>
        </nav>
    </header>
        <main>
            <section class="contenedor tematica">
                <h1 class="titulo">Importacia de la nutricion </h1>
                <div class="contenedor-tematica">
                    <img src="../img/imagen1.jpg" alt="" height="400" width="500" class="imagen-about-us" />
                    <div class="contenido-textos">
                        <p> Todos, o casi todos, solemos buscar o adoptar un estilo de vida más saludable y sustentable; sin embargo muchas veces no tenemos en cuenta que la importancia de la nutrición es la base para lograr una mejor calidad de vida.Si tú tampoco sabes muy bien cómo diseñar una buena nutrición y mejorar tus hábitos, este artículo es para ti.</p>
                        <h2>¿Que es la nutrición?</h2>
                        <p>Antes de comenzar a descubrir la importancia de la nutrición, es importante dejar clara la diferencia entre este término y la buena alimentación. </p>
                        <p>La nutricion es conjunto de procesos que se encargan de la obtención,asimilación y metabolización de los nutrientes en de los alimentos en el organismo.Por su parte, una buena alimentación es el proceso por el cual preparamos e ingerimos una variedad de alimentos que nuestro cuerpo necesita para la vida diaria.Podemos decir que, aunque ambos procesos se encuentran ligados de manera estrecha, cada uno cuenta con sus propias características y cualidades.</p>
                        <p>Mientras que una buena alimentación consta de un proceso voluntario, la nutrición es todo lo contrario, pues los alimentos ingeridos son transformados por el cuerpo de manera involuntaria. Una buena nutrición siempre debe ser tratada con sumo cuidado y de manera profesional.</p>
                    </div>
                </div>
            </section>

            <section class="contenedor mas-informacion">
                <h2 class="titulo">Enfermedades relacionadas con la mala nutrición </h2>
                <div class="contenedor-mas-informacion">
                    <img src="../img/imagen2.jpg" alt=""  height="400" width="500" class="imagen-about-us" />
                    <div class="contenido-textos">
                        <h3 ><span>1</span> Diabetes </h3>
                        <p>Esta enfermedad aparece cuando los niveles de azúcar o glucosa en la sangre se encuentran por encima de lo normal. Debido a esto, se pueden ver afectados varios órganos como el riñón, el corazón, el sistema nervioso central y los ojos. </p>
                        <h3><span>2</span>Obesidad y sobrepeso</h3>
                        <p>La obesidad y el sobrepeso son las afecciones más comunes ocasionadas por una mala alimentación. Esto tiene lugar cuando se ingieren alimentos que aportan más energía de la necesaria, lo que provoca una acumulación y posterior aumento de peso.  </p>
                        <h3><span>3</span>Hipertensión </h3>
                        <p>Un alto consumo de sal y una nula actividad física son los principales factores que inciden en la hipertensión. Adicionalmente, el nerviosismo, la temperatura y los problemas psicológicos, pueden aumentar el riesgo de padecer esta patología. </p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
        </footer>
</body>
</html>